body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  background-color: #EBD822;
  color: black;
  font-family: "Helvetica", sans-serif;
}

h1 {
  padding-top: 10%;
  font-size: 4.5rem;
  text-align: center;
}

.type-animation {
  display: inline-flex;
  width: 0;
  overflow: hidden;
  padding-right: 0.08em;
  position: relative;
}
.type-animation:after {
  content: "";
  background: #EBD822;
  position: absolute;
  right: 0;
  top: -0.05em;
  bottom: -0.05em;
  width: 0.08em;
  border-right: 2px solid transparent;
}
.type-animation.animating {
  -webkit-animation: type 1080ms;
          animation: type 1080ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.type-animation.animating:after {
  -webkit-animation: cursor 320ms 6.9375 ease-in-out;
          animation: cursor 320ms 6.9375 ease-in-out;
}

@-webkit-keyframes cursor {
  0%, 100% {
    border-color: #EBD822;
  }
  50% {
    border-color: black;
  }
  100% {
    width: 0;
  }
}

@keyframes cursor {
  0%, 100% {
    border-color: #EBD822;
  }
  50% {
    border-color: black;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes type {
  16.6666666667% {
    width: 0.6em;
  }
  33.3333333333% {
    width: 1.2em;
  }
  50% {
    width: 1.8em;
  }
  66.6666666667% {
    width: 2.4em;
  }
  83.3333333333% {
    width: 3em;
  }
  100% {
    width: 3em;
    padding-right: 0;
  }
}
@keyframes type {
  16.6666666667% {
    width: 0.6em;
  }
  33.3333333333% {
    width: 1.2em;
  }
  50% {
    width: 1.8em;
  }
  66.6666666667% {
    width: 2.4em;
  }
  83.3333333333% {
    width: 3em;
  }
  100% {
    width: 3em;
    padding-right: 0;
  }
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75em;
  background: transparent;
  border-radius: 4px;
  color: inherit;
  border: 2px solid currentcolor;
  min-height: 34px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
button:hover, button:focus {
  background-color: #fbf7d3;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 140px;
  height: 45px;
  font-family: "Helvetica", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px #000;
  color: #000;
  transform: translateY(-7px);
}